* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include this line to ensure accurate box sizing */
    font-family: sans-serif;
}
/*
body{

    height: 1000px;
    display: flex;
    align-items: center;
    justify-self: center;
}
*/
.title{
    padding-left: 95px;
    text-align: left;
}
.banner {
    width: 100%;
    min-height: 100vh;
    background: url(../images/as.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content:left;
}

.navbar{
width: 85%;
margin: auto;
padding: 35px 0;
display: flex;
justify-content:flex-start;
align-items: center;
}
    .navbar ul li {    /*unsorted list list item */
    list-style:none;
    display:inline-block;
    margin:0 20px;
    position: relative;
}


.navbar ul li a {
    text-decoration: none;
    color: #fff;
    /* text-transform: uppercase; */
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -10px;/*underline under the list element if removed then above the text*/
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 3px solid #fff;
    background: transparent;
    text-align: center;
    color: #fff;
    cursor: pointer;
    position: relative; 
    overflow: hidden;
}
/*
button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}
*/